#app {
  background-color: rgb(13, 13, 59);
}

.header {
  padding: 2rem;

  p {
    color: rgb(129, 183, 255);
    font-weight: 600;
  }

  h1 {
    color: white;
    margin-top: -18px;
  }

  hr {
    height: 0.5px;
    color: white;
  }

  .bio {
    color: rgb(177, 177, 177);
    font-weight: 400;
    font-size: 16px;
  }
}

.kotak-animasi {
  height: 5px;
  width: 100%;
  border-radius: 5px;
  animation: kotakWarna 6s infinite;
  transition: ease-in-out;
}
@keyframes kotakWarna {
  0% {
    background-color: rgb(73, 143, 235);
  }
  20% {
    background-color: rgb(250, 203, 74);
  }
  40% {
    background-color: rgb(114, 9, 233);
  }
  60% {
    background-color: rgb(41, 212, 235);
  }
  80% {
    background-color: rgb(0, 117, 226);
  }
  100% {
    background-color: rgb(101, 168, 255);
  }
}

.about {
  h1 {
    color: rgb(120, 145, 226);
    font-size: 22px;
  }

  .card {
    background-color: rgb(45, 44, 92);

    .card-body {
      margin: 10px;

      img {
        border: 3px solid rgb(140, 139, 179);
      }

      p {
        color: rgb(207, 207, 207);
        font-weight: 400;
        font-size: 16px;

        span {
          color: rgb(255, 244, 85);
          font-weight: 600;
        }
      }
    }
  }
}

.skills {
  .card {
    .card-body {
      .icon-circle {
        width: 40px;
        height: 40px;
        background-color: rgb(153, 153, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: -45px;
        margin-left: -10px;
        border-radius: 50%;
      }

      h1 {
        color: rgb(228, 230, 255);
        font-size: 20px;
        margin-top: 5px;
      }

      .card-item {
        display: flex;
        justify-content: end;
        align-items: center;
        color: rgb(187, 187, 187);
        margin-left: 20px;
        margin-top: 5px;
        font-size: 15px;
      }
    }
  }
}

// props
.btn-biru {
  background-color: rgb(99, 99, 255);
  font-weight: 500;
  color: rgb(247, 247, 247);

  &:hover {
    background-color: rgb(255, 244, 85);
  }
}

.kotak-skill {
  background-color: rgb(29, 29, 255);
  padding: 5px 10px;
  margin: 3px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
}

.green-circle {
  width: 5px;
  height: 5px;
  background-color: rgb(0, 255, 213);
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  margin-top: 2px;
}
