#app {
  background-color: #0d0d3b;
}

.header {
  padding: 2rem;
}

.header p {
  color: #81b7ff;
  font-weight: 600;
}

.header h1 {
  color: white;
  margin-top: -18px;
}

.header hr {
  height: 0.5px;
  color: white;
}

.header .bio {
  color: #b1b1b1;
  font-weight: 400;
  font-size: 16px;
}

.kotak-animasi {
  height: 5px;
  width: 100%;
  border-radius: 5px;
  -webkit-animation: kotakWarna 6s infinite;
          animation: kotakWarna 6s infinite;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

@-webkit-keyframes kotakWarna {
  0% {
    background-color: #498feb;
  }
  20% {
    background-color: #facb4a;
  }
  40% {
    background-color: #7209e9;
  }
  60% {
    background-color: #29d4eb;
  }
  80% {
    background-color: #0075e2;
  }
  100% {
    background-color: #65a8ff;
  }
}

@keyframes kotakWarna {
  0% {
    background-color: #498feb;
  }
  20% {
    background-color: #facb4a;
  }
  40% {
    background-color: #7209e9;
  }
  60% {
    background-color: #29d4eb;
  }
  80% {
    background-color: #0075e2;
  }
  100% {
    background-color: #65a8ff;
  }
}

.about h1 {
  color: #7891e2;
  font-size: 22px;
}

.about .card {
  background-color: #2d2c5c;
}

.about .card .card-body {
  margin: 10px;
}

.about .card .card-body img {
  border: 3px solid #8c8bb3;
}

.about .card .card-body p {
  color: #cfcfcf;
  font-weight: 400;
  font-size: 16px;
}

.about .card .card-body p span {
  color: #fff455;
  font-weight: 600;
}

.about .skills {
  margin-bottom: 100px;
}

.about .skills .card .card-body .icon-circle {
  width: 40px;
  height: 40px;
  background-color: #9999ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-top: -45px;
  margin-left: -10px;
  border-radius: 50%;
}

.about .skills .card .card-body h1 {
  color: #e4e6ff;
  font-size: 20px;
  margin-top: 5px;
}

.about .skills .card .card-body .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bbbbbb;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 15px;
}

.about .experience .card {
  max-width: 350px;
  margin-left: 20px;
  margin-right: 20px;
}

.about .experience .card .card-body {
  margin: 0;
}

.about .experience .card .card-body .exp-detail h1 {
  font-size: 18px;
  margin-bottom: 2px;
  color: #f1f1f1;
}

.about .experience .card .card-body .exp-detail .tempat {
  font-weight: 600;
  font-size: 15px;
  color: #9dbfff;
}

.about .experience .card .card-body .exp-detail .waktu {
  font-weight: 300;
  font-size: 14px;
}

.btn-biru {
  background-color: #6363ff;
  font-weight: 500;
  color: #f7f7f7;
}

.btn-biru:hover {
  background-color: #fff455;
}

.kotak-skill {
  background-color: #1d1dff;
  padding: 5px 10px;
  margin: 3px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
}

.green-circle {
  width: 5px;
  height: 5px;
  background-color: #00ffd5;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  margin-top: 2px;
}
/*# sourceMappingURL=app.css.map */